* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

nav {
    background-color: black;
    opacity: 0.8;
}


.head {
    color: rgb(243, 200, 9);
}